/* =============================================================== */
/* Apply Fullwidth
/* =============================================================== */

#section-slider{width:100% !important; height:400px !important; margin:0; overflow:hidden;}

#page-content, .page-section, #footer-bottom, footer, header{max-width:100% !important; width:100% !important;}

header{	background:#fff;margin-top:-29px;border-top:3px solid #333; height:113px;}
#header-4
{
	height:148px;
}
#header-4 #top-header
{
		background:#f5f5f5;
}
#header-5
{
	height:115px;
}
#header-5 .menu-lamp .submenu
{
	top:8px;
}
#header-5 .menu-lamp .submenu .submenu
{
	top:-42px;
}
.aveta-logo{ margin-left: -29px;
    margin-top: 27px;
	}
#box {top:0px !important;}
footer{background:#313131;}
footer .container{border:none;}

